.navbar_container {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid rgb(228, 227, 227);
    width: 100%;
    z-index: 10;
    position: fixed;
    background-color: rgb(245, 245, 245);
    /* background-color: red; */
    padding: .4rem 0;
}

.navbar_link_wrapper {
    display: flex;
    flex-direction: row;
    /* justify-content: space-around; */
    padding: 0;
    margin: 0;
    gap: 3rem;

}

.navbar_link {
    display: flex;
    flex-direction: row;
    text-align: center;
    align-items: center;
    cursor: pointer;
}

.navbar_link>span {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 600;
    font-size: large;
    color: grey;
}

.navbar_link>img {
    height: 1.6rem;
    padding-right: .3rem;
}


@media only screen and (max-width: 767px) {
    .navbar_link>span {
        display: none;
    }
    .navbar_container{
        padding: .8rem 3rem;
        top: .3rem;
    }

}